.shop-list a{
    color: black;
}
.categories-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.categories-list li:not(:last-child)::after {
    content: '/';
    color: #235af0;
}

.categories-list a {
    text-decoration: none;
    cursor: pointer;
    color: #235af0;
    text-transform: lowercase;
    font-size: 20px;
}
.categories-list a.active {
    font-weight: bold;
}
.pict-container img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.informations{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    
}
.informations span{
    font-weight: bold;
}
@media (max-width: 850px) {
    main{
        width: 90%;
        margin:  5px auto;
    }
    
    
    h1{
        visibility: hidden;
    }
    .shop-list{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .shop-list li:not(li:last-child){
        margin-bottom: 50px;
    }
   
    .informations{
        font-size: 16px;
    }
    
    .categories-list{
        justify-content: center;
    }
    .categories-list li:not(:last-child)::after {
        margin: 0 20px;
    }

}
@media (min-width: 850px) {
    h1{
        visibility: hidden;
    }
    main{
        width: 80%;
        margin:  0 auto;
    }

    .shop-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px; 
        margin-bottom: 40px;
    }
    .informations{
       font-size: 20px;
    }
    .categories-list{
        margin-bottom: 40px;
    }
    .categories-list li:not(:last-child)::after {
        margin: 0 10px;
    }
}
@media (max-width: 1300px){
    .informations{
        font-size: 18px;
    }
    .shop-list{
        grid-template-columns: repeat(3, 1fr);
    }
}